__pycache__/

# IDE
.idea/
.vscode/

# Frontend
websrv-flask/node_modules/*
**/.sass-cache/
websrv-flask/app/static/fonts/*
websrv-flask/app/static/css/*
websrv-flask/app/static/js/bundle.js

# Compiled translations
**/*.mo

db-mongo/data/
