__pycache__/

# General
.DS_Store

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# backend Frontend
backend/app/static/*

# Compiled translations
**/*.mo

# Actual Frontend
frontend/dist
frontend/node_modules

# virtualenv
.venv
