@import 'variables';
@import 'general.scss';

.question-group-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  -webkit-border-radius: $question-group-container-outer-border-radius;
  -moz-border-radius: $question-group-container-outer-border-radius;
  border-radius: $question-group-container-outer-border-radius;

  -webkit-box-shadow: 0 5px 5px;
  -moz-box-shadow: 0 5px 5px;
  box-shadow: 0 5px 5px;

  padding: 0 10px 10px 10px;

}

.question-group-header {
  font-family: $question-group-container-header-fontfamily;
  font-size: $question-group-container-header-fontsize;
  text-align: center;

  padding-bottom: 2px;
}

.question-group-content {
  background-color: $question-group-content-background-color;
  border-radius: $question-group-container-inner-border-radius;
  -moz-border-radius: $question-group-container-inner-border-radius;
  -webkit-border-radius: $question-group-container-inner-border-radius;
  padding: 10px 20px 10px 20px;
}

.question {
  margin-bottom: 20px;
}

.question-text {
  font-size: $question-group-header-fontsize;
  font-weight: bold;
  text-align: center;
}

.question-answer-container {
  padding-top: 5px;
  text-align: center;
}

.question-answer {
  display: inline-block;
  margin: 0 1px 0 1px;
}

.question-left-text {
  text-align: center;
}

.question-right-text {
  text-align: center;
}

.survey-form-footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.languagepicker_container {
  margin: 8px 0 8px 0;
}

@media screen and (min-width: 992px) {
  .question-group-container {
    width: 100%;

    .question-answer {
      height: 40px;
      margin: 0 5px 0 5px;
    }

    .question-left-text,
    .question-right-text {
      display: inline-block;
      height: 40px;
      width: 60px;
    }

    .question-left-text {
      text-align: right;
      margin-right: 50px;
    }

    .question-right-text {
      text-align: left;
      margin-left: 50px;
    }
  }

  .questionnaire-form {
    .survey-form-footer {
      width: 50%;
    }
  }
}