.qac-container {
  margin-top: 50px;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: 1fr;

  > div {
    border: 1px solid #ddd;
  }

  .qac-caption {
    border-radius: 5px 5px 0 0;

    padding: 15px 10px 5px 10px;
  }

  .qac {
    margin-top: -1px;
    border-top-width: 3px;
  }

  .qac-enable {
    border-radius: 0 0 5px 5px;
  }
}

.qac {
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "header parameters disable" "description parameters disable";

  .qac-header {
    grid-area: header;

    padding: 14px 0 0 10px;

    border-right: 1px solid #ddd;
  }

  .qac-description {
    grid-area: description;

    padding: 0 5px 10px 10px;

    border-right: 1px solid #ddd;
  }

  .qac-parameters {
    grid-area: parameters;

    padding: 14px 10px 10px 5px;
  }

  .qac-disable {
    grid-area: disable;

    padding: 10px 10px 10px 10px;

    input {
      height: 100%;
      width: 100%;
    }
  }
}

.qac-parameters {
  display: grid;
  align-items: center;
}

.qac-parameter {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "name content update";

  align-items: end;

  .qac-parameter-name {
    grid-area: name;

    padding-right: 10px;
    text-align: right;
    font-weight: normal;

    &[data-tooltip]:before {
      position: absolute;
      padding: 2px 15px;
      margin-top: 20px;
      margin-left: -15px;

      display: none;

      content: attr(data-tooltip);

      background-color: white;
      color: black;

      max-width: 200px;
      line-height: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;

      text-align: left;
    }

    &[data-tooltip]:hover:before {
      display: block;
    }
  }

  .qac-parameter-content {
    grid-area: content;
  }

  .qac-parameter-update {
    grid-area: update;
  }

  .qac-parameter-i15dtext, .qac-parameter-text {
    input {
      width: 100%;
    }
  }

  .qac-parameter-checkbox {
    // TODO: style this
  }

  .qac-parameter-select {
    // TODO: style this
  }
}

.qac-enable {
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  grid-template-areas: "header options button";

  .qac-enable-header {
    grid-area: header;

    display: grid;
    align-items: center;

    border-right: 1px solid #ddd;

    padding: 5px 5px 14px 10px;
  }

  .qac-enable-options {
    grid-area: options;

    display: grid;
    align-items: center;

    padding: 10px 10px 14px 10px;
  }

  .qac-enable-button {
    grid-area: button;

    padding: 10px;

    input {
      width: 100%;
      height: 100%;
    }
  }
}
