@import 'general.scss';

.register-link {
  padding-left: 0;

  button {
    padding-left: 0;
  }
}

.login-form {
  padding-right: 0;

  #login {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.languagepicker_container {
  margin: 8px 0 8px 0;
}

.navbar .container {
  display: grid;

  .navbar-header {
    text-align: center;
  }

  .navbar-right-side {
    display: grid;

    padding: 0 10px 0 10px;
  }

  .navbar-form, .languagepicker_container {
    text-align: center;
    padding: 0;
  }
}


@media only screen and (min-width: 768px) {
  .navbar .container {
    display: flex;
    justify-content: space-between;

    .navbar-right-side {
      display: flex;
    }

    .navbar-form.login-form {
      display: flex;
    }
  }
}

.bg-pattern {
    min-height:200px;
    background:
    linear-gradient(30deg, #bdbdbd 12%, transparent 12.5%, transparent 87%, #bdbdbd 87.5%, #bdbdbd 0),
    linear-gradient(150deg, #bdbdbd 12%, transparent 12.5%, transparent 87%, #bdbdbd 87.5%, #bdbdbd 0),
    linear-gradient(30deg, #bdbdbd 12%, transparent 12.5%, transparent 87%, #bdbdbd 87.5%, #bdbdbd 0),
    linear-gradient(150deg, #bdbdbd 12%, transparent 12.5%, transparent 87%, #bdbdbd 87.5%, #bdbdbd 0),
    linear-gradient(60deg, #dbdbdb 25%, transparent 25.5%, transparent 75%, #dbdbdb 75%, #dbdbdb 0),
    linear-gradient(60deg, #dbdbdb 25%, transparent 25.5%, transparent 75%, #dbdbdb 75%, #dbdbdb 0), #ccc;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    background-size: 80px 140px;
}

.jumbo-r {
  max-width: 800pt;
  float: right;
  margin-top: 9%
}