$question-group-container-outer-border-radius: 10px;
$question-group-container-inner-border-radius: 10px;
$question-group-container-header-fontsize: 22px;
$question-group-container-header-fontfamily: Georgia;

$question-group-content-background-color: #FFFFFF;

$question-group-header-fontsize: 16px;