$sky: #caebf2;
$carbon: #a9a9a9;
$watermelon: #ff3b3f;
$neutral: #efefef;

$moodle-primary: #1177d1;

$dipf-blue-dark: #3674b3;
$dipf-blue: #6699cc;
$dipf-blue-light: #8fadcc;
$dipf-orange-dark: #bf8000;
$dipf-orange: #e19900;
$dipf-orange-light: #e0ac43;

$primary-dark: $dipf-blue-dark;
$primary: $dipf-blue;
$primary-light: $dipf-blue-light;

$secondary-dark: $dipf-orange-dark;
$secondary: $dipf-orange;
$secondary-light: $dipf-orange-light;

$verydark: #1E1E1E;
$darker: #878787;
$slightlydark: #ADADAD;
$slightlylight: #D4D4D4;
$lighter: #E5E5E5;
$verylight: #FFFFFF;

// state
$danger: #f11c1c;
$danger-light: #ff9999;
$warning: #ffc107;
$warning-light: #ffdf80;