$sky: #caebf2;
$carbon: #a9a9a9;
$watermelon: #ff3b3f;
$neutral: #efefef;

$moodle-primary: #1177d1;

$primary-dark: $carbon;
$primary: $moodle-primary;
$primary-light: $neutral;

$secondary-dark: $sky;
$secondary: $sky;
$secondary-light: $sky;

$verydark: #1E1E1E;
$darker: #878787;
$slightlydark: #ADADAD;
$slightlylight: #D4D4D4;
$lighter: #E5E5E5;
$verylight: #FFFFFF;

// state
$danger: #f11c1c;