$primary-dark: #488807;
$primary: #6AD300;
$primary-light: #befa7d;

$secondary-dark: #214F66;
$secondary: #337CA0;
$secondary-light: #A2C3D3;

$verydark: #1E1E1E;
$darker: #878787;
$slightlydark: #ADADAD;
$slightlylight: #D4D4D4;
$lighter: #E5E5E5;
$verylight: #FFFFFF;

// state
$danger: #f11c1c;