<!DOCTYPE html>
<html ng-app="App">
<head>
    <title>Survey Tool 3000 lol Backend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectrum.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/backend.css') }}" type="text/css" />
</head>
<body>
    <div class="nav-side-menu">
        <div class="brand">
            ST3K101
        </div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li class="{% if request.endpoint == 'user_survey_overview' %}active{% endif %}">
                    <a href="#/surveys">
                        <i class="fa fa-lg"></i> Surveys
                    </a>
                </li>
                <li class="{% if request.endpoint == 'user_account' %}active{% endif %}">
                    <a href="#/account">
                        <i class="fa fa-lg"></i> Account
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-lg"></i> log out
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid" id="content">
        <div class="row text-center languagepicker_container">
            {% include 'partials/languagepicker.html' %}
        </div>
        <flash-message></flash-message>
        <ng-view></ng-view>
    </div>

    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>
