{% extends 'home_base.html' %}

{% block content %}
    {{ super() }}

    <div class="jumbotron">
        <div class="container">
            <p>
                We store any data you enter into fields on our website. This data is available to
                the owners of the surveys you fill out.
            </p>
            <p>
                We are theoretically capable of connecting your inputs to your ip address and thus
                track your actions on our site, but stand to gain nothing from trying to do so.
            </p>
            <p>
                We also promise to never give your submitted data to any third parties, unless possibly
                corrupt government officials force us to do so.
            </p>
            <p>
                GLHF.
            </p>
        </div>
    </div>
{% endblock %}