{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css" />
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('home') }}">ST3K101</a>
            </div>

            <form class="navbar-form navbar-right register-link" method="GET" action="{{ url_for('registration') }}">
                <button type="submit" class="btn btn-link" id="submit">or Register</button>
            </form>
            <form class="navbar-form navbar-right login-form" method="POST" action="{{ url_for('login') }}">
                <input type="email" class="form-control" id="email" placeholder="E-Mail" />
                <input type="password" class="form-control" id="password" placeholder="Password" />
                <button type="submit" class="btn btn-link" id="login">Login</button>
            </form>
        </div>
    </nav>
{% endblock content %}
