{% extends 'home_base.html' %}

{% block content %}
    {{ super() }}

    <div class="jumbotron">
        <div class="container">
            <h1>{{ _("Welcome to the EFLA-web survey platform") }}</h1>
            <p>{{ _("Create your own surveys in seconds and start gathering data. You can provide your survey in different languages, target specific audiences by setting challenges for participants and even integrate into your own software by using our REST-like API. Get started today, by signing up at the top.") }}</p>
        </div>
    </div>
{% endblock %}