{% extends 'home_base.html' %}

{% block content %}
    {{ super() }}

    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Survey Tool 3000 lol</h1>
            <p>We simplify your day-to-day survey taking and analysing.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://lorempixel.com/200/300/" alt="Lorem Pixel">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>This is an example of how the surveys will probably NOT look like.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://lorempixel.com/200/300/" alt="Lorem Pixel">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>This is an example of how the surveys will probably NOT look like.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://lorempixel.com/200/300/" alt="Lorem Pixel">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>This is an example of how the surveys will probably NOT look like.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}