{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/survey.css') }}" type="text/css" />
    <style type="text/css">
    {% block css %}
    {% endblock %}
    </style>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('home') }}">ST3K101</a>
            </div>
            <div class="languagepicker_container navbar-right navbar-text">
                {% include 'partials/languagepicker.html' %}
            </div>
        </div>
    </nav>

    {% block subcontent %}
    {% endblock %}
{% endblock %}
