{% extends 'survey_base.html' %}

{% block css %}
{% for questiongroup in questionnaire.questiongroups %}
.question-group-{{ loop.index }} {
    background-color: {{ questiongroup.color }}
}
.question-group-header-{{ loop.index }} {
    color: {{ questiongroup.text_color }};
}
{% endfor %}
{% endblock %}

{% block subcontent %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>{{ questionnaire.name }}</h1>
        <p>{{ questionnaire.description }}</p>
    </div>
</div>
<div class="container">
    <form class="questionnaire-form" method="POST" action="{{ url_for('survey_submit', questionnaire_uuid=uuid) }}">
        <div class="row">
            {% for questiongroup in questionnaire.questiongroups %}
            <div class="question-group-container question-group-{{ loop.index }}">
                <div class="question-group-header question-group-header-{{ loop.index }}">
                    {{ questiongroup.name }}
                </div>
                <div class="question-group-content">
                    {% for question in questiongroup.questions %}
                    <div class="question">
                        <div class="question-text">
                            {{ question.text }}
                        </div>
                        <div class="question-answer-container {% if 'question_'~question.id in error %}bg-danger{% endif %}">
                            <div class="question-left-text">
                                <span class="glyphicon glyphicon-arrow-left hidden-md hidden-lg" aria-hidden="true"></span>
                                Strongly Disagree
                            </div>

                            {% for i in range(0,11) %} <!-- TODO: variable range here -->
                            <div class="question-answer">
                                <div class="question-answer-label">{{ i }}</div>
                                <input class="question-answer-radio" type="radio" name="question_{{ question.id }}" id="question_someid" value="{{ i }}" title="Value {{ i }}" {% if ('question_'~question.uuid in values) and (values['question_'~question.uuid] == ""~i) %}checked{% endif %}>
                            </div>
                            {% endfor %}

                            <div class="question-right-text">
                                Strongly Agree
                                <span class="glyphicon glyphicon-arrow-right hidden-md hidden-lg" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row text-center survey-form-footer">
            {% for qac_template in qac_templates %}
                {{ qac_template|safe }}
            {% endfor %}
            <div class="input-group">
                <div class="input-group-addon">{{ _("Email address") }}</div>
                <input type="email" class="form-control" name="email" placeholder="E-Mail" {% if 'email' in values %}value={{ values['email'] }}{% endif %} />
                <div class="input-group-btn">
                    <input type="submit" class="btn btn-default" name="submit" value="Submit" />
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
