<ew-load loading="loading">
        <div class="row" ng-if="questionnaire != null">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputQuestionnaireName" class="col-sm-2 control-label">Name</label>
                <!-- Questionnaire name form -->
                <div class="col-sm-10" ng-if="questionnaire_original == null">
                    <span ng-click="startEditing('questionnairename', $event, questionnaire.fields.name)" ng-if="!isEditing('questionnairename')">{{ questionnaire.fields.name }}</span>
                    <input type="text" class="form-control" id="inputQuestionnaireName" ng-model="questionnaire.fields.name" ng-enter="stopEditing('questionnairename', $event, questionnaire)" ng-blur="abortEditing('questionnairename', $event, questionnaire)" ng-if="isEditing('questionnairename')">
                </div>
                <!-- Questionnaire name form with translation present -->
                <div class="col-sm-10" ng-if="questionnaire_original != null">
                    <span ng-click="startEditing('questionnairename', $event, questionnaire.fields.name)" ng-if="!isEditing('questionnairename')">{{ questionnaire.fields.name }} ({{ questionnaire_original.fields.name }})</span>
                    <input type="text" class="form-control" id="inputQuestionnaireName" ng-model="questionnaire.fields.name" ng-enter="stopEditing('questionnairename', $event, questionnaire)" ng-blur="abortEditing('questionnairename', $event, questionnaire)" ng-if="isEditing('questionnairename')">
                </div>
            </div>
            <div class="form-group">
                <label for="inputQuestionnaireDescription" class="col-sm-2 control-label">Description</label>
                <!-- Questionnaire description form -->
                <div class="col-sm-10" ng-if="questionnaire_original == null">
                    <span ng-click="startEditing('questionnairedescription', $event, questionnaire.fields.description)" ng-if="!isEditing('questionnairedescription')">{{ questionnaire.fields.description }}</span>
                    <input type="text" class="form-control" id="inputQuestionnaireDescription" ng-model="questionnaire.fields.description" ng-enter="stopEditing('questionnairedescription', $event, questionnaire)" ng-blur="abortEditing('questionnairedescription', $event, questionnaire)" ng-if="isEditing('questionnairedescription')">
                </div>
                <!-- Questionnaire name form with translation present -->
                <div class="col-sm-10" ng-if="questionnaire_original != null">
                    <span ng-click="startEditing('questionnairedescription', $event, questionnaire.fields.description)" ng-if="!isEditing('questionnairedescription')">{{ questionnaire.fields.description }} ({{ questionnaire_original.fields.description }})</span>
                    <input type="text" class="form-control" id="inputQuestionnaireDescription" ng-model="questionnaire.fields.description" ng-enter="stopEditing('questionnairedescription', $event, questionnaire)" ng-blur="abortEditing('questionnairedescription', $event, questionnaire)" ng-if="isEditing('questionnairedescription')">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <button type="button" id="buttonQuestionnaireGoto" class="form-control btn btn-default" ng-click="gotoQuestionnaire()">Go To Questionnaire</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-repeat="questionGroup in questionnaire.fields.questiongroups">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: {{ questionGroup.fields.color }}; color: {{ questionGroup.fields.text_color }};" ng-if="questionnaire_original == null">
                <h3 class="panel-title" ng-click="startEditing('questiongroup'+questionGroup.uuid, $event, questionGroup.fields.name)" ng-if="!isEditing('questiongroup'+questionGroup.uuid)">{{ questionGroup.fields.name }}</h3>
                <input type="text" id="{{ 'inputQuestionGroupName' + questionGroup.uuid }}" data-uuid="{{ questionGroup.uuid }}" ng-model="questionGroup.fields.name" ng-enter="stopEditing('questiongroup'+questionGroup.uuid, $event, questionGroup)" ng-blur="abortEditing('questiongroup'+questionGroup.uuid, $event, questionGroup)" ng-if="isEditing('questiongroup'+questionGroup.uuid)">
            </div>
            <div class="panel-heading" style="background-color: {{ questionGroup.fields.color }}; color: {{ questionGroup.fields.text_color }};" ng-if="questionnaire_original != null">
                <h3 class="panel-title" ng-click="startEditing('questiongroup'+questionGroup.uuid, $event, questionGroup.fields.name)" ng-if="!isEditing('questiongroup'+questionGroup.uuid)">{{ questionGroup.fields.name }} ({{ questionnaire_original.fields.questiongroups[$index].fields.name }})</h3>
                <input type="text" id="{{ 'inputQuestionGroupName' + questionGroup.uuid }}" data-uuid="{{ questionGroup.uuid }}" ng-model="questionGroup.fields.name" ng-enter="stopEditing('questiongroup'+questionGroup.uuid, $event, questionGroup)" ng-blur="abortEditing('questiongroup'+questionGroup.uuid, $event, questionGroup)" ng-if="isEditing('questiongroup'+questionGroup.uuid)">
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Background Color:</label>
                        <div class="col-sm-10">
                            <input type="text" id="colorPicker_{{ questionGroup.uuid }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Text Color:</label>
                        <div class="col-sm-10">
                            <input type="text" id="textColorPicker_{{ questionGroup.uuid }}" />
                        </div>
                    </div>
                </form>
                <div class="list-group">
                    <ngRepeat ng-repeat="question in questionGroup.fields.questions">
                        <div class="list-group-item col-sm-1 as-checkbox" ng-click="toggleSelect(questionGroup, question)" ng-class="{'list-group-item-info': selection.questions[question.uuid] == true}">
                        </div>
                        <a class="list-group-item col-sm-11 selectable">
                            <ngIf ng-if="questionnaire_original == null">
                                <ngIf ng-click="startEditing('singlequestion'+question.uuid, $event, question.fields.text)" ng-if="!isEditing('singlequestion'+question.uuid)">{{ question.fields.text }}</ngIf>
                                <input type="text" id="{{ 'inputQuestionName' + question.uuid }}" data-uuid="{{ question.uuid }}" ng-model="question.fields.text" ng-enter="stopEditing('singlequestion'+question.uuid, $event, question)" ng-blur="abortEditing('singlequestion'+question.uuid, $event, question)" ng-if="isEditing('singlequestion'+question.uuid)">
                            </ngIf>
                            <ngIf ng-if="questionnaire_original != null">
                                <ngIf ng-click="startEditing('singlequestion'+question.uuid, $event, question.fields.text)" ng-if="!isEditing('singlequestion'+question.uuid)">{{ question.fields.text }} ({{ questionnaire_original.fields.questiongroups[$parent.$parent.$parent.$index].fields.questions[$index].fields.text }})</ngIf>
                                <input type="text" id="{{ 'inputQuestionName' + question.uuid }}" data-uuid="{{ question.uuid }}" ng-model="question.fields.text" ng-enter="stopEditing('singlequestion'+question.uuid, $event, question)" ng-blur="abortEditing('singlequestion'+question.uuid, $event, question)" ng-if="isEditing('singlequestion'+question.uuid)">
                            </ngIf>
                        </a>
                    </ngRepeat>
                </div>
            </div>
            <div class="panel-footer">
                <form class="form-horizontal" ng-if="new.question.questionGroup == questionGroup">
                    <div class="form-group">
                        <label for="inputQuestionText" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputQuestionText" ng-model="new.question.data.text" ng-enter="createQuestion()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="buttonQuestionCreate" class="col-sm-2 control-label"></label>
                        <div class="col-sm-2">
                            <button type="button" id="buttonQuestionCreate" class="form-control btn btn-default" ng-click="createQuestion()">Create</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" id="buttonQuestionCancel" class="form-control btn btn-default" ng-click="resetEditing()">Cancel</button>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-default btn-success" ng-click="newQuestion(questionGroup)" ng-if="new.question.questionGroup != questionGroup">
                    Add new Question to this Question Group...
                </button>
                <button type="button" class="btn btn-default btn-warning" mw-confirm-click="deleteQuestions(questionGroup)" mw-confirm-message="Are you sure you want to delete the selected {{ selection.count }} Questions?" ng-if="selection.questionGroup == questionGroup">
                    Remove the selected {{ selection.count }} Questions from this Question Group...
                </button>
                <button type="button" class="btn btn-default btn-danger pull-right" mw-confirm-click="deleteQuestionGroup(questionGroup)" mw-confirm-message="Are you sure you want to delete the Question Group '{{ questionGroup.fields.name }}'?">
                    Delete this Question Group...
                </button>
            </div>
        </div>
    </div>
    <div class="row" ng-if="questionnaire != null">
        <div class="input-group" ng-if="new.questionGroup.data != null">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="createQuestionGroup()">Create</button>
            </span>
            <input type="text" class="form-control" ng-model="new.questionGroup.data.name" ng-enter="createQuestionGroup()" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="resetEditing()">Cancel</button>
            </span>
        </div>
        <button type="button" class="btn btn-default" ng-click="newQuestionGroup()" ng-if="new.questionGroup.data == null">
            Add new Question Group...
        </button>
    </div>
</ew-load>