<ew-load loading="loading">
    <div class="row" ng-if="questionnaire != null">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputQuestionnaireName" class="col-xs-2 control-label">Name</label>
                <!-- Questionnaire name form -->
                <div class="col-xs-10">
                    <span ng-click="startEditing('questionnairename', $event, questionnaire.fields.name)" ng-if="!isEditing('questionnairename')">{{ questionnaire.fields.name }}
                        <span class="translation" data-language="{{ questionnaire.original_locale }}"
                            ng-if="questionnaire_original != null">({{ questionnaire_original.fields.name }})</span>
                    </span>
                    <input type="text" class="form-control" id="inputQuestionnaireName" ng-model="questionnaire.fields.name" ng-enter="stopEditing('questionnairename', $event, questionnaire)"
                        ng-blur="abortEditing('questionnairename', $event, questionnaire)" ng-if="isEditing('questionnairename')">
                </div>
            </div>
            <div class="form-group">
                <label for="inputQuestionnaireDescription" class="col-xs-2 control-label">Description</label>
                <!-- Questionnaire description form -->
                <div class="col-xs-10">
                    <span ng-click="startEditing('questionnairedescription', $event, questionnaire.fields.description)" ng-if="!isEditing('questionnairedescription')">{{ questionnaire.fields.description }}
                        <span class="translation" data-language="{{ questionnaire.original_locale }}"
                            ng-if="questionnaire_original != null">({{ questionnaire_original.fields.description }})</span>
                    </span>
                    <input type="text" class="form-control" id="inputQuestionnaireDescription" ng-model="questionnaire.fields.description" ng-enter="stopEditing('questionnairedescription', $event, questionnaire)"
                        ng-blur="abortEditing('questionnairedescription', $event, questionnaire)" ng-if="isEditing('questionnairedescription')">
                </div>
            </div>
            <div class="form-group">
                <label for="originalLocale" class="col-xs-2 control-label">
                    Original Language
                </label>
                <div class="col-xs-10">
                    {{ locales[questionnaire.fields.original_locale] }}
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group col-xs-12" role="group">
                    <button type="button" id="buttonQuestionnaireGoto" class="btn btn-default" ng-if="questionnaire.fields.published" ng-click="gotoQuestionnaire()">Go To Questionnaire
                    </button>
                    <button type="button" class="btn btn-default" ng-if="questionnaire.fields.published" ng-click="unpublishQuestionnaire(questionnaire)">
                        Unpublish
                    </button>
                    <button type="button" class="btn btn-default" ng-if="!questionnaire.fields.published" ng-click="publishQuestionnaire(questionnaire)">
                        Publish
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-repeat="questionGroup in questionnaire.fields.questiongroups">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: {{ questionGroup.fields.color }}; color: {{ questionGroup.fields.text_color }};">
                <h3 class="panel-title" ng-click="startEditing('questiongroup'+questionGroup.uuid, $event, questionGroup.fields.name)" ng-if="!isEditing('questiongroup'+questionGroup.uuid)">{{ questionGroup.fields.name }}
                    <span class="translation" data-language="{{ questionnaire.original_locale }}"
                        ng-if="questionnaire_original != null">({{ questionnaire_original.fields.questiongroups[$index].fields.name }})</span>
                </h3>
                <input type="text" id="{{ 'inputQuestionGroupName' + questionGroup.uuid }}" data-uuid="{{ questionGroup.uuid }}" ng-model="questionGroup.fields.name"
                    ng-enter="stopEditing('questiongroup'+questionGroup.uuid, $event, questionGroup)" ng-blur="abortEditing('questiongroup'+questionGroup.uuid, $event, questionGroup)"
                    ng-if="isEditing('questiongroup'+questionGroup.uuid)">
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Background Color:
                        </label>
                        <div class="col-xs-10">
                            <input type="text" id="colorPicker_{{ questionGroup.uuid }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Text Color:
                        </label>
                        <div class="col-xs-10">
                            <input type="text" id="textColorPicker_{{ questionGroup.uuid }}" />
                        </div>
                    </div>
                </form>
                <div class="list-group">
                    <ngRepeat ng-repeat="question in questionGroup.fields.questions">
                        <div class="list-group-item col-xs-1 as-checkbox" ng-click="toggleSelect(questionGroup, question)" ng-class="{'list-group-item-info': selection.questions[question.uuid] == true}">
                        </div>
                        <a class="list-group-item col-xs-11 selectable">
                            <ngIf>
                                <ngIf ng-click="startEditing('singlequestion'+question.uuid, $event, question.fields.text)" ng-if="!isEditing('singlequestion'+question.uuid)">
                                    {{ question.fields.text }}
                                    <span class="translation" data-language="{{ questionnaire.original_locale }}"
                                        ng-if="questionnaire_original != null">({{ questionnaire_original.fields.questiongroups[$parent.$parent.$parent.$index].fields.questions[$index].fields.text
                                        }})</span>
                                </ngIf>
                                <input type="text" id="{{ 'inputQuestionName' + question.uuid }}" data-uuid="{{ question.uuid }}" ng-model="question.fields.text"
                                    ng-enter="stopEditing('singlequestion'+question.uuid, $event, question)" ng-blur="abortEditing('singlequestion'+question.uuid, $event, question)"
                                    ng-if="isEditing('singlequestion'+question.uuid)">
                            </ngIf>
                        </a>
                    </ngRepeat>
                </div>
            </div>
            <div class="panel-footer">
                <ngIf ng-if="questionGroup.fields.original_locale == original_locale">
                    <form class="form-horizontal" ng-if="new.question.questionGroup == questionGroup">
                        <div class="form-group">
                            <label for="inputQuestionText" class="col-xs-2 control-label">Name</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" id="inputQuestionText" ng-model="new.question.data.text" ng-enter="createQuestion()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="buttonQuestionCreate" class="col-xs-2 control-label"></label>
                            <div class="col-xs-2">
                                <button type="button" id="buttonQuestionCreate" class="form-control btn btn-default" ng-click="createQuestion()">Create
                                </button>
                            </div>
                            <div class="col-xs-2">
                                <button type="button" id="buttonQuestionCancel" class="form-control btn btn-default" ng-click="resetEditing()">Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                    <button type="button" class="btn btn-default btn-success" ng-click="newQuestion(questionGroup)" ng-if="new.question.questionGroup != questionGroup">
                        Add new Question to this Question Group...
                    </button>
                    <button type="button" class="btn btn-default btn-warning" mw-confirm-click="deleteQuestions(questionGroup)" mw-confirm-message="Are you sure you want to delete the selected {{ selection.count }} Questions?"
                        ng-if="selection.questionGroup == questionGroup">
                        Remove the selected {{ selection.count }} Questions from this Question Group...
                    </button>
                    <button type="button" class="btn btn-default btn-danger pull-right" mw-confirm-click="deleteQuestionGroup(questionGroup)"
                        mw-confirm-message="Are you sure you want to delete the Question Group '{{ questionGroup.fields.name }}'?">
                        Delete this Question Group...
                    </button>
                </ngIf>
                <ngIf ng-if="questionGroup.fields.original_locale != original_locale">
                    <!--
                            Adding new Objects can't be allowed in a different
                            language inside a hierarchy.
                         -->
                    <button type="button" class="btn btn-default btn-success" disabled data-toggle="tooltip" title="Change the current language to this Questionnaire's original language to add new Elements.">
                        Add new Question to this Question Group...
                    </button>
                    <button type="button" class="btn btn-default btn-danger pull-right" disabled data-toggle="tooltip" title="Change the current language to this Questionnaire's original language to add new Elements.">
                        Delete this Question Group...
                    </button>
                </ngIf>
            </div>
        </div>
    </div>
    <div class="row" ng-if="questionnaire != null">
        <ngIf ng-if="questionnaire.fields.original_locale == original_locale">
            <div class="input-group" ng-if="new.questionGroup.data != null">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="createQuestionGroup()">Create</button>
                </span>
                <input type="text" class="form-control" ng-model="new.questionGroup.data.name" ng-enter="createQuestionGroup()" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="resetEditing()">Cancel</button>
                </span>
            </div>
            <button type="button" class="btn btn-default" ng-click="newQuestionGroup()" ng-if="new.questionGroup.data == null">
                Add new Question Group...
            </button>
        </ngIf>
        <ngIf ng-if="questionGroup.fields.original_locale != original_locale">
            <button type="button" class="btn btn-default" disabled data-toggle="tooltip" title="Change the current language to this Questionnaire's original language to add new Elements.">
                Add new Question Group...
            </button>
        </ngIf>
    </div>
    <div class="row">
        <div class="qac-container">
            <div class="qac-caption">
                <span class="h3">Questionnaire Access Control Modules</span>
            </div>
            <div class="qac" ng-repeat="qac in questionnaire.qacs">
                <div class="qac-header">
                    <span class="h4">{{ qac.fields.name.text }}</span>
                </div>
                <div class="qac-description">{{ qac.fields.description.text }}
                </div>
                <div class="qac-parameters">
                    <div class="qac-parameter" ng-repeat="parameter in qac.fields.parameters">
                        <label class="qac-parameter-name" data-tooltip="{{ parameter.fields.description.text }}" for="{{ qac.fields.name.msgid }} - {{ parameter.fields.name.msgid }}">
                            {{ parameter.fields.name.text }}
                        </label>
                        <div class="qac-paramater-content qac-parameter-i15dtext" ng-if="parameter.class == 'model.query_access_control.QACI15dTextParameter.QACI15dTextParameter'">
                            <!-- QACI15dTextParameter -->
                            <input type="text" id="{{ qac.fields.name.msgid }} - {{ parameter.fields.name.msgid }}" ng-model="parameter.fields.text"
                                ng-enter="updateI15dTextParameter(qac.fields.name.msgid, parameter)">
                        </div>
                        <div class="qac-paramater-content qac-parameter-text" ng-if="parameter.class == 'model.query_access_control.QACTextParameter.QACTextParameter'">
                            <!-- QACTextParameter -->
                            <input type="text" id="{{ qac.fields.name.msgid }} - {{ parameter.fields.name.msgid }}" ng-model="parameter.fields.text"
                                ng-enter="updateTextParameter(qac.fields.name.msgid, parameter)">
                        </div>
                        <div class="qac-paramater-content qac-parameter-checkbox" ng-if="parameter.class == 'model.query_access_control.QACCheckboxParameter.QACCheckboxParameter'">
                            <!-- QACCheckboxParameter -->
                            <input type="text" id="{{ qac.fields.name.msgid }} - {{ parameter.fields.name.msgid }}" ng-model="parameter.fields.value"
                                ng-click="updateCheckboxParameter(qac.fields.name.msgid, parameter)">
                        </div>
                        <div class="qac-paramater-content qac-parameter-select" ng-if="parameter.class == 'model.query_access_control.QACSelectParameter.QACSelectParameter'">
                            <!-- QACSelectParameter
                            TODO: Implement this
                            -->
                        </div>
                        <input type="button" class="qac-parameter-update btn btn-default" value="Update" ng-click="updateI15dTextParameter(qac.fields.name.msgid, parameter)">
                    </div>
                </div>
                <div class="qac-disable">
                    <input type="button" class="btn btn-default" value="Disable" ng-click="disableQac(qac.fields.name.msgid)">
                </div>
            </div>
            <div class="qac-enable">
                <div class="qac-enable-header">
                    <span class="h4">Available Access Control Modules:</span>
                </div>
                <div class="qac-enable-options">
                    <select id="qacEnableSelect">
                        <option ng-repeat="(id, name) in questionnaire.availableQacs" value="{{ id }}">{{ name }}</option>
                    </select>
                </div>
                <div class="qac-enable-button">
                    <input type="button" class="btn btn-default" value="Enable" ng-click="enableQac()">
                </div>
            </div>
        </div>
    </div>
</ew-load>
