<ew-load loading="loading">
    <div class="row">
        <div class="panel col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="panel-header">Statistics for Questionnaire: {{ questionnaire.fields.name }}</div>
        </div>
    </div>
    <div class="statistics-overview">
        <a class="statistics-boxplot-link btn btn-default" href="#/surveys/{{ questionnaire_uuid }}/statistic/boxplot">
            Box Plot
        </a>
        <a class="statistics-radarchart-link btn btn-default" href="#/surveys/{{ questionnaire_uuid }}/statistic/radarchart">
            Radar Chart
        </a>
        <a class="statistics-csv-link btn btn-default" href="/api/questionnaire/{{ questionnaire_uuid }}/dl/csv">
            CSV Download
        </a>
    </div>
</ew-load>
