<div class="row">
    <div class="alert alert-danger" ng-if="error" role="alert">
        {{ error }}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Survey Eins
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">12</span>
                    Questionnaire Eins
                </li>
                <li class="list-group-item">
                    <span class="badge">14</span>
                    Questionnaire Zwei
                </li>
                <li class="list-group-item">
                    <span class="badge">7</span>
                    Questionnaire Drei
                </li>
            </ul>
        </div>
    </div>
</div>
