<div class="row" ng-if="error">
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
</div>
<div class="row" ng-repeat="survey in surveys">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ survey.fields.name }}
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="questionnaire in survey.fields.questionnaires">
                    <span class="badge">{{ questionnaire.fields.question_count }}</span>
                    {{ questionnaire.fields.name }}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" ng-if="(!surveys || (surveys.length == 0)) && !error">
    <div class="alert alert-info">You have no surveys yet!</div>
</div>
